.artifacts
/bin
/build
/bazel-bin
/bazel-bucketeer
/bazel-genfiles
/bazel-out
/bazel-proto
/bazel-testlogs
.DS_Store
/vendor
/proto/**/*.pb.go
/proto/**/proto_descriptor.pb
/proto/**/*.py
/proto/swift_output
node_modules
telepresence.log
venv
*.swp
