.artifacts
/bin
/build
.DS_Store
/vendor
**/vendor
/proto/swift_output
node_modules
telepresence.log
venv
*.swp
tools/dev/cert/api_key_client
tools/dev/cert/api_key_server
tools/redis/bin
.idea
.vscode
# Docker Compose logs
docker-compose/logs/
# Hack script binaries
hack/delete-mysql-data-warehouse/delete-mysql-data-warehouse
hack/delete-redis-retry-keys/delete-redis-retry-keys
