global:
  image:
    tag: test
    imagePullSecrets:

env:
  gcpEnabled: false
  profile: false
  project: bucketeer-test
  stanHost: localhost
  stanPort: 8080
  mysqlUser: bucketeer
  mysqlPass: bucketeer
  mysqlHost: localenv-mysql-headless.default.svc.cluster.local
  mysqlPort: 3306
  mysqlDbName: bucketeer
  environmentService: localhost:9001
  experimentService: localhost:9001
  eventCounterService: localhost:9001
  logLevel: info
  port: 9090
  metricsPort: 9002
  traceSamplingProbability: 0.001
  timezone: UTC

tls:
  service:
    secret: bucketeer-service-cert
    cert:
    key:

serviceToken:
  secret:
  token: