{{- if .Values.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "bucketeer-migration.fullname" . }}
  annotations: {{ toYaml .Values.annotations | nindent 4 }}
spec:
  backoffLimit: {{ .Values.backoffLimit }}
  {{- with .Values.ttlSecondsAfterFinished }}
  ttlSecondsAfterFinished: {{ . }}
  {{- end }}
  template:
    spec:
      {{- with .Values.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "bucketeer-migration.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - migrate
            - apply
            - --baseline
            - "{{ .Values.dbBaseline }}"
            - -u
            - {{ .Values.dbUrl }}
      restartPolicy: Never
{{- end }}
