global:
  image:
    tag: v1.1.0 # x-release-please-version
    imagePullSecrets:

migration:
  image:
    repository: ghcr.io/bucketeer-io/bucketeer-migration
    tag: v1.1.0 # x-release-please-version

  imagePullSecrets: []

  backoffLimit: 0
  ttlSecondsAfterFinished:

  # URL to access the DB to do the migration
  # E.g. mysql://user:password@host:port/db_name
  dbUrl:

  # The migration baseline
  # First revision
  dbBaseline: "20240626022133"
