apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "web.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "web.name" . }}
    chart: {{ template "web.chart" . }}
    release: {{ template "web.fullname" . }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ template "web.name" . }}
      release: {{ template "web.fullname" . }}
  template:
    metadata:
      labels:
        app: {{ template "web.name" . }}
        release: {{ template "web.fullname" . }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/envoy-configmap.yaml") . | sha256sum }}
    spec:
      {{- with .Values.global.image.imagePullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      volumes:
        - name: envoy-config
          configMap:
            name: {{ template "web.fullname" . }}-envoy-config
        - name: oauth-config
          configMap:
            name: {{ template "web.fullname" . }}-oauth-config
        - name: service-cert-secret
          secret:
            secretName: {{ template "service-cert-secret" . }}
        - name: service-token-secret
          secret:
            secretName: {{ template "service-token-secret" . }}
        - name: oauth-key-secret
          secret:
            secretName: {{ template "oauth-key-secret" . }}
        - name: env-js
          configMap:
            name: {{ template "web.name" . }}-env-js
        - name: envoy-account-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-account
        - name: envoy-auditlog-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-auditlog
        - name: envoy-auth-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-auth
        - name: envoy-autoops-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-autoops
        - name: envoy-environment-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-environment
        - name: envoy-eventcounter-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-eventcounter
        - name: envoy-experiment-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-experiment
        - name: envoy-experiment-calculator-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-experimentcalculator
        - name: envoy-feature-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-feature
        - name: envoy-notification-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-notification
        - name: envoy-push-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-push
        - name: envoy-tag-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-tag
        - name: envoy-batch-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-batch
        - name: envoy-code-reference-descriptor-secret
          secret:
            secretName: {{ template "web.fullname" . }}-code-reference
      {{- if .Values.serviceAccount.annotations }}
      serviceAccountName: {{ template "web.fullname" . }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.global.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["server"]
          env:
            - name: BUCKETEER_WEB_CLOUD_SERVICE
              value: "{{ .Values.env.cloudService }}"
            - name: BIGQUERY_QUERIER_EMULATOR_HOST
              value: "{{.Values.env.bigqueryQuerierEmulatorHost}}"
            - name: PUBSUB_EMULATOR_HOST
              value: "{{.Values.env.pubsubEmulatorHost}}"
            - name: BUCKETEER_WEB_PROFILE
              value: "{{.Values.env.profile}}"
            - name: BUCKETEER_TEST_ENABLED
              value: "{{.Values.env.bucketeerTestEnabled}}"
            - name: BUCKETEER_WEB_GCP_TRACE_ENABLED
              value: "{{.Values.env.gcpEnabled}}"
            - name: BUCKETEER_WEB_PROJECT
              value: "{{ .Values.env.project }}"
            - name: BUCKETEER_WEB_MYSQL_USER
              value: "{{ .Values.env.mysqlUser }}"
            - name: BUCKETEER_WEB_MYSQL_PASS
              value: "{{ .Values.env.mysqlPass }}"
            - name: BUCKETEER_WEB_MYSQL_HOST
              value: "{{ .Values.env.mysqlHost }}"
            - name: BUCKETEER_WEB_MYSQL_PORT
              value: "{{ .Values.env.mysqlPort }}"
            - name: BUCKETEER_WEB_MYSQL_DB_NAME
              value: "{{ .Values.env.mysqlDbName }}"
            - name: BUCKETEER_WEB_PERSISTENT_REDIS_SERVER_NAME
              value: "{{ .Values.env.persistentRedis.serverName }}"
            - name: BUCKETEER_WEB_PERSISTENT_REDIS_ADDR
              value: "{{ .Values.env.persistentRedis.addr }}"
            - name: BUCKETEER_WEB_PERSISTENT_REDIS_POOL_MAX_IDLE
              value: "{{ .Values.env.persistentRedis.poolMaxIdle }}"
            - name: BUCKETEER_WEB_PERSISTENT_REDIS_POOL_MAX_ACTIVE
              value: "{{ .Values.env.persistentRedis.poolMaxActive }}"
            - name: BUCKETEER_WEB_NON_PERSISTENT_REDIS_SERVER_NAME
              value: "{{ .Values.env.nonPersistentRedis.serverName }}"
            - name: BUCKETEER_WEB_NON_PERSISTENT_REDIS_ADDR
              value: "{{ .Values.env.nonPersistentRedis.addr }}"
            - name: BUCKETEER_WEB_NON_PERSISTENT_REDIS_POOL_MAX_IDLE
              value: "{{ .Values.env.nonPersistentRedis.poolMaxIdle }}"
            - name: BUCKETEER_WEB_NON_PERSISTENT_REDIS_POOL_MAX_ACTIVE
              value: "{{ .Values.env.nonPersistentRedis.poolMaxActive }}"
            - name: BUCKETEER_WEB_BIGQUERY_DATA_SET
              value: "{{ .Values.env.bigQueryDataSet }}"
            - name: BUCKETEER_WEB_BIGQUERY_DATA_LOCATION
              value: "{{ .Values.env.bigQueryDataLocation }}"
            - name: BUCKETEER_WEB_DOMAIN_TOPIC
              value: "{{ .Values.env.domainTopic }}"
            - name: BUCKETEER_WEB_BULK_SEGMENT_USERS_RECEIVED_TOPIC
              value: "{{ .Values.env.bulkSegmentUsersReceivedTopic }}"
            - name: BUCKETEER_WEB_HEALTH_CHECK_SERVICE_PORT
              value: "{{ .Values.env.healthCheckServicePort }}"
            - name: BUCKETEER_WEB_ACCOUNT_SERVICE_PORT
              value: "{{ .Values.env.accountServicePort }}"
            - name: BUCKETEER_WEB_AUTH_SERVICE_PORT
              value: "{{ .Values.env.authServicePort }}"
            - name: BUCKETEER_WEB_AUDIT_LOG_SERVICE_PORT
              value: "{{ .Values.env.auditLogServicePort }}"
            - name: BUCKETEER_WEB_AUTO_OPS_SERVICE_PORT
              value: "{{ .Values.env.autoOpsServicePort }}"
            - name: BUCKETEER_WEB_ENVIRONMENT_SERVICE_PORT
              value: "{{ .Values.env.environmentServicePort }}"
            - name: BUCKETEER_WEB_EVENT_COUNTER_SERVICE_PORT
              value: "{{ .Values.env.eventCounterServicePort }}"
            - name: BUCKETEER_WEB_EXPERIMENT_SERVICE_PORT
              value: "{{ .Values.env.experimentServicePort }}"
            - name: BUCKETEER_WEB_FEATURE_SERVICE_PORT
              value: "{{ .Values.env.featureServicePort }}"
            - name: BUCKETEER_WEB_NOTIFICATION_SERVICE_PORT
              value: "{{ .Values.env.notificationServicePort }}"
            - name: BUCKETEER_WEB_PUSH_SERVICE_PORT
              value: "{{ .Values.env.pushServicePort }}"
            - name: BUCKETEER_WEB_TAG_SERVICE_PORT
              value: "{{ .Values.env.tagServicePort }}"
            - name: BUCKETEER_WEB_WEB_CONSOLE_SERVICE_PORT
              value: "{{ .Values.env.webConsoleServicePort }}"
            - name: BUCKETEER_WEB_DASHBOARD_SERVICE_PORT
              value: "{{ .Values.env.dashboardServicePort }}"
            - name: BUCKETEER_WEB_CODE_REFERENCE_SERVICE_PORT
              value: "{{ .Values.env.coderefServicePort }}"
            - name: BUCKETEER_WEB_ACCOUNT_SERVICE
              value: "{{ .Values.env.accountService }}"
            - name: BUCKETEER_WEB_AUTH_SERVICE
              value: "{{ .Values.env.authService }}"
            - name: BUCKETEER_WEB_BATCH_SERVICE
              value: "{{ .Values.env.batchService }}"
            - name: BUCKETEER_WEB_ENVIRONMENT_SERVICE
              value: "{{ .Values.env.environmentService }}"
            - name: BUCKETEER_WEB_EXPERIMENT_SERVICE
              value: "{{ .Values.env.experimentService }}"
            - name: BUCKETEER_WEB_FEATURE_SERVICE
              value: "{{ .Values.env.featureService }}"
            - name: BUCKETEER_WEB_AUTO_OPS_SERVICE
              value: "{{ .Values.env.autoOpsService }}"
            - name: BUCKETEER_WEB_CODE_REFERENCE_SERVICE
              value: "{{ .Values.env.coderefService }}"
            - name: BUCKETEER_WEB_TIMEZONE
              value: "{{ .Values.env.timezone }}"
            - name: BUCKETEER_WEB_METRICS_PORT
              value: "{{ .Values.env.metricsPort }}"
            - name: BUCKETEER_WEB_LOG_LEVEL
              value: "{{ .Values.env.logLevel }}"
            - name: BUCKETEER_WEB_PUBSUB_TYPE
              value: "{{ .Values.env.pubSubType }}"
            - name: BUCKETEER_WEB_PUBSUB_REDIS_ADDR
              value: "{{ .Values.env.pubSubRedisAddr }}"
            - name: BUCKETEER_WEB_PUBSUB_REDIS_POOL_SIZE
              value: "{{ .Values.env.pubSubRedisPoolSize }}"
            - name: BUCKETEER_WEB_PUBSUB_REDIS_MIN_IDLE
              value: "{{ .Values.env.pubSubRedisMinIdle }}"
            - name: BUCKETEER_WEB_OAUTH_PUBLIC_KEY
              value: /usr/local/oauth-key/public.pem
            - name: BUCKETEER_WEB_OAUTH_PRIVATE_KEY
              value: /usr/local/oauth-key/private.pem
            - name: BUCKETEER_WEB_CERT
              value: /usr/local/certs/service/tls.crt
            - name: BUCKETEER_WEB_KEY
              value: /usr/local/certs/service/tls.key
            - name: BUCKETEER_WEB_OAUTH_CONFIG_PATH
              value: /usr/local/oauth-config/oauth-config.json
            - name: BUCKETEER_WEB_SERVICE_TOKEN
              value: /usr/local/service-token/token
            - name: BUCKETEER_WEB_EMAIL_FILTER
              value: "{{ .Values.env.emailFilter }}"
            - name: BUCKETEER_WEB_WEBHOOK_BASE_URL
              value: "{{ .Values.webhook.baseURL }}"
            - name: BUCKETEER_WEB_WEBHOOK_KMS_RESOURCE_NAME
              value: "{{ .Values.webhook.kmsResourceName }}"
            - name: BUCKETEER_WEB_WEB_CONSOLE_ENV_JS_PATH
              value: /usr/local/static/js
          volumeMounts:
            - name: service-cert-secret
              mountPath: /usr/local/certs/service
              readOnly: true
            - name: service-token-secret
              mountPath: /usr/local/service-token
              readOnly: true
            - name: oauth-key-secret
              mountPath: /usr/local/oauth-key
              readOnly: true
            - name: oauth-config
              mountPath: /usr/local/oauth-config
              readOnly: true
            - name: env-js
              mountPath: /usr/local/static/js
              readOnly: true
          ports:
            - name: health-check
              containerPort: {{ .Values.env.healthCheckServicePort }}
            - name: account
              containerPort: {{ .Values.env.accountServicePort }}
            - name: auth
              containerPort: {{ .Values.env.authServicePort }}
            - name: metrics
              containerPort: {{ .Values.env.metricsPort }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.health.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.health.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.livenessProbe.failureThreshold }}
            httpGet:
              path: /health
              port: health-check
              scheme: HTTPS
          readinessProbe:
            initialDelaySeconds: {{ .Values.health.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.health.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.readinessProbe.failureThreshold }}
            httpGet:
              path: /health
              port: health-check
              scheme: HTTPS
          resources:
{{ toYaml .Values.resources | indent 12 }}
        - name: envoy
          image: "{{ .Values.envoy.image.repository }}:{{ .Values.envoy.image.tag }}"
          imagePullPolicy: {{ .Values.envoy.image.pullPolicy }}
          lifecycle:
            preStop:
              exec:
                command:
                  - "/bin/sh"
                  - "-c"
                  - "while [ $(netstat -plunt | grep tcp | grep -v envoy | wc -l) -ne 0 ]; do sleep 1; done;"
          command: ["envoy"]
          args:
            - "-c"
            - "/usr/local/conf/config.yaml"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: envoy-config
              mountPath: /usr/local/conf/
              readOnly: true
            - name: envoy-account-descriptor-secret
              mountPath: /usr/local/account-secret
              readOnly: true
            - name: envoy-auditlog-descriptor-secret
              mountPath: /usr/local/auditlog-secret
              readOnly: true
            - name: envoy-auth-descriptor-secret
              mountPath: /usr/local/auth-secret
              readOnly: true
            - name: envoy-autoops-descriptor-secret
              mountPath: /usr/local/autoops-secret
              readOnly: true
            - name: envoy-environment-descriptor-secret
              mountPath: /usr/local/environment-secret
              readOnly: true
            - name: envoy-eventcounter-descriptor-secret
              mountPath: /usr/local/eventcounter-secret
              readOnly: true
            - name: envoy-experiment-descriptor-secret
              mountPath: /usr/local/experiment-secret
            - name: envoy-experiment-calculator-descriptor-secret
              mountPath: /usr/local/experiment-calculator-secret
              readOnly: true
            - name: envoy-feature-descriptor-secret
              mountPath: /usr/local/feature-secret
              readOnly: true
            - name: envoy-notification-descriptor-secret
              mountPath: /usr/local/notification-secret
              readOnly: true
            - name: envoy-push-descriptor-secret
              mountPath: /usr/local/push-secret
              readOnly: true
            - name: envoy-tag-descriptor-secret
              mountPath: /usr/local/tag-secret
              readOnly: true
            - name: envoy-batch-descriptor-secret
              mountPath: /usr/local/batch-secret
              readOnly: true
            - name: envoy-code-reference-descriptor-secret
              mountPath: /usr/local/code-reference-secret
              readOnly: true
            - name: service-cert-secret
              mountPath: /usr/local/certs/service
              readOnly: true
          ports:
            - name: envoy-grpc
              containerPort: {{ .Values.envoy.grpcPort }}
            - name: envoy-http
              containerPort: {{ .Values.envoy.httpPort }}
            - name: admin
              containerPort: {{ .Values.envoy.adminPort }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.health.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.health.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.livenessProbe.failureThreshold }}
            httpGet:
              path: /ready
              port: admin
              scheme: HTTP
          readinessProbe:
            initialDelaySeconds: {{ .Values.health.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.health.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.readinessProbe.failureThreshold }}
            httpGet:
              path: /ready
              port: admin
              scheme: HTTP
          resources:
{{ toYaml .Values.envoy.resources | indent 12 }}
  strategy:
    type: RollingUpdate
