{{- if and .Values.gcpMultiCluster.enabled .Values.gcpMultiCluster.configCluster }}
apiVersion: networking.gke.io/v1
kind: MultiClusterService
metadata:
  name: {{ .Values.gcpMultiCluster.service.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "web.name" . }}
    chart: {{ template "web.chart" . }}
    release: {{ template "web.fullname" . }}
    heritage: {{ .Release.Service }}
  annotations:
    cloud.google.com/backend-config: '{"ports": {"{{ .Values.service.httpPort }}":"{{ template "web.fullname" . }}-mcs-backend-config"}}'
    networking.gke.io/app-protocols: '{"http-service":"HTTP2"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  template:
    spec:
      selector:
        app: {{ template "web.name" . }}
        release: {{ template "web.fullname" . }}
      ports:
        - name: grpc-service
          port: {{ .Values.service.grpcPort }}
          targetPort: envoy-grpc
          protocol: TCP
        - name: http-service
          port: {{ .Values.service.httpPort }}
          targetPort: envoy-http
          protocol: TCP
        - name: metrics
          port: {{ .Values.env.metricsPort }}
          protocol: TCP
        - name: admin
          port: {{ .Values.envoy.adminPort }}
          protocol: TCP
{{- end }}