image:
  repository: ghcr.io/bucketeer-io/bucketeer-event-persister-dwh
  pullPolicy: IfNotPresent

nameOverride: "event-persister-dwh"
fullnameOverride: "event-persister-evaluation-events-dwh"

namespace: default

env:
  project:
  profile: 
  gcpEnabled: 
  bigqueryEmulatorHost: 
  pubsubEmulatorHost: 
  logLevel: info
  port: 9090
  metricsPort: 9002
  timezone: UTC
  mysqlUser:
  mysqlPass:
  mysqlHost:
  mysqlPort: 3306
  mysqlDbName:
  # egress services
  experimentService: localhost:9001
  featureService: localhost:9001
  # option
  maxMps: "1000"
  numWorkers: 5
  flushSize: 100
  checkInterval: 60s
  flushInterval: 2s
  flushTimeout: 30s
  # pubsub
  topic:
  subscription:
  pullerNumGoroutines: 5
  pullerMaxOutstandingMessages: "1000"
  pullerMaxOutstandingBytes: "1000000000"
  # bigquery
  bigQueryDataSet:
  # redis
  redis:
    serverName:
    addr:
    poolMaxIdle: 25
    poolMaxActive: 25

affinity: {}

nodeSelector: {}

hpa:
  enabled:
  minReplicas:
  maxReplicas:
  metrics:
    cpu:
      targetAverageUtilization:

envoy:
  image:
    repository: ghcr.io/bucketeer-io/bucketeer-envoy
    tag: v1.26.2
    pullPolicy: IfNotPresent
  config:
  port: 9000
  adminPort: 8001
  resources: {}

tls:
  service:
    secret:
    cert:
    key:

serviceToken:
  secret:
  token:

health:
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 3
    failureThreshold: 5
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 3
    failureThreshold: 2

resources: {}

service:
  type: ClusterIP
  clusterIP: None
  externalPort: 9000


serviceAccount:
  annotations: {}
