apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "api.fullname" . }}-envoy-config
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "api.name" . }}
    chart: {{ template "api.chart" . }}
    release: {{ template "api.fullname" . }}
    heritage: {{ .Release.Service }}
data:
  config.yaml: |-
    admin:
      access_log:
        - name: envoy.access_loggers.file
          typed_config:
            '@type': type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
            path: "/dev/stdout"
      address:
        socket_address:
          address: 0.0.0.0
          port_value: 8001
    static_resources:
      clusters:
        - name: api
          connect_timeout: 5s
          ignore_health_on_host_removal: true
          circuit_breakers:
            thresholds:
              - priority: DEFAULT
                max_retries: 3
                max_pending_requests: {{ .Values.envoy.circuitBreaker.maxPendingRequests }}
                max_requests: {{ .Values.envoy.circuitBreaker.maxRequests }}
                max_connections: {{ .Values.envoy.circuitBreaker.maxConnections }}
          load_assignment:
            cluster_name: api
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: localhost
                        port_value: {{ .Values.env.port }}
          dns_lookup_family: V4_ONLY
          lb_policy: {{ .Values.envoy.lbPolicy }}
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              '@type': type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                alpn_protocols: ["h2"]
                tls_certificates:
                - certificate_chain:
                    filename: /usr/local/certs/service/tls.crt
                  private_key:
                    filename: /usr/local/certs/service/tls.key
          type: strict_dns
        - name: api-rest-v1
          connect_timeout: 5s
          ignore_health_on_host_removal: true
          circuit_breakers:
            thresholds:
              - priority: DEFAULT
                max_retries: 3
                max_pending_requests: {{ .Values.envoy.circuitBreaker.maxPendingRequests }}
                max_requests: {{ .Values.envoy.circuitBreaker.maxRequests }}
                max_connections: {{ .Values.envoy.circuitBreaker.maxConnections }}
          load_assignment:
            cluster_name: api-rest-v1
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: localhost
                        port_value: 8000
          dns_lookup_family: V4_ONLY
          lb_policy: {{ .Values.envoy.lbPolicy }}
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              '@type': type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                alpn_protocols: ["h2"]
                tls_certificates:
                  - certificate_chain:
                      filename: /usr/local/certs/service/tls.crt
                    private_key:
                      filename: /usr/local/certs/service/tls.key
          type: strict_dns
        - name: api-grpc-gateway
          connect_timeout: 5s
          ignore_health_on_host_removal: true
          circuit_breakers:
            thresholds:
              - priority: DEFAULT
                max_retries: 3
                max_pending_requests: {{ .Values.envoy.circuitBreaker.maxPendingRequests }}
                max_requests: {{ .Values.envoy.circuitBreaker.maxRequests }}
                max_connections: {{ .Values.envoy.circuitBreaker.maxConnections }}
          load_assignment:
            cluster_name: api-grpc-gateway
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: localhost
                        port_value: {{ .Values.env.grpcGatewayPort }}
          dns_lookup_family: V4_ONLY
          lb_policy: {{ .Values.envoy.lbPolicy }}
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              '@type': type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                alpn_protocols: ["h2"]
                tls_certificates:
                - certificate_chain:
                    filename: /usr/local/certs/service/tls.crt
                  private_key:
                    filename: /usr/local/certs/service/tls.key
          type: strict_dns
        - name: web
          connect_timeout: 5s
          ignore_health_on_host_removal: true
          circuit_breakers:
            thresholds:
              - priority: DEFAULT
                max_retries: 3
                # we don't want to break a circuit by number of request, so set a large number.
                max_pending_requests: 100000000
                max_requests: 100000000
          load_assignment:
            cluster_name: web
            endpoints:
              - lb_endpoints:
                - endpoint:
                    address:
                      socket_address:
                        address: web.{{ .Values.namespace }}.svc.cluster.local
                        port_value: 9000
          dns_lookup_family: V4_ONLY
          lb_policy: {{ .Values.envoy.lbPolicy }}
          typed_extension_protocol_options:
            envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
              '@type': type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
              explicit_http_config:
                http2_protocol_options: {}
          transport_socket:
            name: envoy.transport_sockets.tls
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
              common_tls_context:
                alpn_protocols: ["h2"]
                tls_certificates:
                - certificate_chain:
                    filename: /usr/local/certs/service/tls.crt
                  private_key:
                    filename: /usr/local/certs/service/tls.key
          type: strict_dns
      listeners:
        - name: ingress
          address:
              socket_address:
                address: 0.0.0.0
                port_value: 9000
          filter_chains:
            - filters:
              - name: envoy.filters.network.http_connection_manager
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                  stat_prefix: ingress_http
                  access_log:
                    name: envoy.access_loggers.file
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
                      path: /dev/stdout
                  codec_type: auto
                  common_http_protocol_options:
                    # set longer timeout than lb session timeout (600s)
                    idle_timeout: 620s
                  http_filters:
                    - name: envoy.filters.http.cors
                      typed_config:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.Cors
                    - name: envoy.filters.http.grpc_web
                      typed_config:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.grpc_web.v3.GrpcWeb
                    - name: envoy.filters.http.router
                      typed_config:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
                  route_config:
                    virtual_hosts:
                      - name: gateway_services
                        domains:
                          - "*"
                        typed_per_filter_config:
                          envoy.filters.http.cors:
                            "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.CorsPolicy
                            allow_origin_string_match:
                              - prefix: "*"
                            allow_headers: "content-type, x-grpc-web, authorization"
                            allow_methods: "GET,POST,PATCH,DELETE,OPTIONS"
                            allow_credentials: true
                            max_age: "86400"
                        routes:
                          # Health check endpoint
                          - match:
                              prefix: /health
                            route:
                              cluster: api
                              timeout: 15s
                          # API REST v1 Gateway routes (Deprecated)
                          - match:
                              prefix: /v1/gateway
                            route:
                              cluster: api-rest-v1
                              timeout: 60s
                              retry_policy:
                                retry_on: 5xx,connect-failure,reset,gateway-error
                                num_retries: 3
                                per_try_timeout: 5s
                          # All gRPC requests
                          - match:
                              headers:
                                - name: content-type
                                  string_match:
                                    prefix: application/grpc
                              prefix: /bucketeer.gateway.Gateway
                            route:
                              cluster: api
                              timeout: 60s
                              retry_policy:
                                retry_on: 5xx,connect-failure,reset,gateway-error
                                num_retries: 3
                                per_try_timeout: 5s
                          # All other requests for API REST v1
                          - match:
                              prefix: /
                            route:
                              cluster: api-grpc-gateway
                              timeout: 60s
                              retry_policy:
                                retry_on: 5xx,connect-failure,reset,gateway-error
                                num_retries: 3
                                per_try_timeout: 5s
              transport_socket:
                name: envoy.transport_sockets.tls
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
                  require_client_certificate: true
                  common_tls_context:
                    alpn_protocols: ["h2"]
                    tls_certificates:
                      - certificate_chain:
                          filename: /usr/local/certs/service/tls.crt
                        private_key:
                          filename: /usr/local/certs/service/tls.key
        - name: egress
          address:
            socket_address:
              address: 127.0.0.1
              port_value: 9001
          filter_chains:
            - filters:
              - name: envoy.filters.network.http_connection_manager
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                  stat_prefix: egress_http
                  access_log:
                    name: envoy.access_loggers.file
                    typed_config:
                      "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
                      path: /dev/stdout
                  codec_type: auto
                  http_filters:
                    - name: envoy.filters.http.router
                      typed_config:
                        "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
                  route_config:
                    virtual_hosts:
                      - name: egress_services
                        domains:
                          - "*"
                        routes:
                          - match:
                              headers:
                                - name: content-type
                                  string_match:
                                    exact: application/grpc
                              prefix: /bucketeer.feature.FeatureService
                            route:
                              cluster: web
                              timeout: 15s
                              retry_policy:
                                retry_on: 5xx
                                num_retries: 3
                          - match:
                              headers:
                                - name: content-type
                                  string_match:
                                    exact: application/grpc
                              prefix: /bucketeer.account.AccountService
                            route:
                              cluster: web
                              timeout: 15s
                              retry_policy:
                                retry_on: 5xx
                                num_retries: 3
                          - match:
                              headers:
                                - name: content-type
                                  string_match:
                                    exact: application/grpc
                              prefix: /bucketeer.push.PushService
                            route:
                              cluster: web
                              timeout: 15s
                              retry_policy:
                                retry_on: 5xx
                                num_retries: 3
                          - match:
                              headers:
                                - name: content-type
                                  string_match:
                                    exact: application/grpc
                              prefix: /bucketeer.coderef.CodeReferenceService
                            route:
                              cluster: web
                              timeout: 15s
                              retry_policy:
                                retry_on: 5xx
                                num_retries: 3
                          - match:
                              headers:
                                - name: content-type
                                  string_match:
                                    exact: application/grpc
                              prefix: /bucketeer.auditlog.AuditLogService
                            route:
                              cluster: web
                              timeout: 15s
                              retry_policy:
                                retry_on: 5xx
                                num_retries: 3
              transport_socket:
                name: envoy.transport_sockets.tls
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
                  require_client_certificate: true
                  common_tls_context:
                    alpn_protocols: ["h2"]
                    tls_certificates:
                      - certificate_chain:
                          filename: /usr/local/certs/service/tls.crt
                        private_key:
                          filename: /usr/local/certs/service/tls.key
    overload_manager:
      resource_monitors:
        - name: 'envoy.resource_monitors.global_downstream_max_connections'
          typed_config:
            '@type': type.googleapis.com/envoy.extensions.resource_monitors.downstream_connections.v3.DownstreamConnectionsConfig
            # We want disable the warning without setting a limit. So, we set a large number.
            max_active_downstream_connections: 100000
