{{- if .Values.gcpMultiCluster.enabled }}
apiVersion: networking.gke.io/v1
kind: MultiClusterService
metadata:
  name: {{ .Values.gcpMultiCluster.service.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "api.name" . }}
    chart: {{ template "api.chart" . }}
    release: {{ template "api.fullname" . }}
    heritage: {{ .Release.Service }}
  annotations:
    cloud.google.com/backend-config: '{"ports": {"{{ .Values.service.externalPort }}":"{{ template "api.fullname" . }}"}}'
    networking.gke.io/app-protocols: '{"service":"HTTP2"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  template:
    spec:
      selector:
        app: {{ template "api.name" . }}
        release: {{ template "api.fullname" . }}
      ports:
        - name: service
          port: {{ .Values.service.externalPort }}
          targetPort: {{ .Values.envoy.port }}
          protocol: TCP
        - name: metrics
          port: {{ .Values.env.metricsPort }}
          protocol: TCP
        - name: admin
          port: {{ .Values.envoy.adminPort }}
          protocol: TCP
{{- end }}