apiVersion: v1
kind: Service
metadata:
  name: {{ template "api.fullname" . }}
  namespace: {{ .Values.namespace }}
  annotations:
    cloud.google.com/app-protocols: '{"service":"HTTP2"}'
    cloud.google.com/neg: '{"ingress": true}'
    beta.cloud.google.com/backend-config: '{"default": "{{ template "api.fullname" . }}"}'
  labels:
    app: {{ template "api.name" . }}
    chart: {{ template "api.chart" . }}
    release: {{ template "api.fullname" . }}
    heritage: {{ .Release.Service }}
    envoy: "true"
    metrics: "true"
spec:
  type: ClusterIP
  ports:
    - name: service
      port: {{ .Values.service.externalPort }}
      targetPort: {{ .Values.envoy.port }}
      protocol: TCP
    - name: metrics
      port: {{ .Values.env.metricsPort }}
      protocol: TCP
    - name: admin
      port: {{ .Values.envoy.adminPort }}
      protocol: TCP
  selector:
    app: {{ template "api.name" . }}
    release: {{ template "api.fullname" . }}