image:
  repository: ghcr.io/bucketeer-io/bucketeer-api
  pullPolicy: IfNotPresent
fullnameOverride: "api"
namespace: default
env:
  project:
  gcpEnabled: true
  profile: true
  database:
    mysql:
      user:
      pass:
      host:
      port:
      dbName:
  enablePprof: false
  pprofAddr: 127.0.0.1:6060
  pubsubEmulatorHost:
  goalTopic:
  evaluationTopic:
  userTopic:
  metricsTopic:
  publishNumGoroutines: 200
  publishTimeout: 1m
  pubSubType: google
  pubSubRedisAddr:
  pubSubRedisPoolSize:
  pubSubRedisMinIdle:
  redis:
    serverName:
    poolMaxIdle: 25
    poolMaxActive: 25
    addr:
  oldestEventTimestamp:
  furthestEventTimestamp:
  logLevel: info
  grpcGatewayPort: 9089
  port: 9090
  metricsPort: 9002
  featureService: localhost:9001
  accountService: localhost:9001
  pushService: localhost:9001
  codeRefService: localhost:9001
  auditLogService: localhost:9001
  tagService: localhost:9001
  teamService: localhost:9001
  notificationService: localhost:9001
  experimentService: localhost:9001
  eventCounterService: localhost:9001
  environmentService: localhost:9001
  traceSamplingProbability: 0.0001
affinity: {}
nodeSelector: {}
pdb:
  enabled:
  maxUnavailable: 20%
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 10%
    maxSurge: 1
hpa:
  enabled:
  minReplicas:
  maxReplicas:
  metrics:
    cpu:
      targetAverageUtilization:
tls:
  bucketeerJP:
    secrets:
  service:
    secret:
serviceToken:
  secret:
envoy:
  image:
    repository: envoyproxy/envoy
    tag: v1.34.1
    pullPolicy: IfNotPresent
  lbPolicy: LEAST_REQUEST
  config:
  port: 9000
  adminPort: 8001
  resources: {}
  circuitBreaker:
    maxPendingRequests: 3500
    maxRequests: 3500
    maxConnections: 3500
service:
  type: ClusterIP
  externalPort: 9000
ingress:
  name: api
  host:
  staticIPName:
  rulePaths:
    - pathType: ImplementationSpecific
      backend:
        service:
          name: api
          port:
            number: 9000
terminationGracePeriodSeconds: 60
health:
  startupProbe:
    periodSeconds: 3
    failureThreshold: 20
    timeoutSeconds: 5
  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 15
    failureThreshold: 8
    timeoutSeconds: 5
  readinessProbe:
    initialDelaySeconds: 15
    periodSeconds: 3
    failureThreshold: 1
    timeoutSeconds: 5
resources: {}
serviceAccount:
  annotations: {}
gcpMultiCluster:
  configCluster: false
  enabled: false
  service:
    name: api-multi-cluster-service
  ingress:
    name: api-multi-cluster-ingress
    host:
    staticIPName:
    secretName:
    rulePaths:
      - path: /
        backend:
          serviceName: api-multi-cluster-service
          servicePort: 9000
