global:
  image:
    tag: localenv
    imagePullSecrets:

env:
  gcpEnabled: false
  profile: false
  pubsubEmulatorHost: localenv-pubsub.default.svc.cluster.local:8089
  project: bucketeer-test
  database:
    mysql:
      user: bucketeer
      pass: bucketeer
      host: localenv-mysql-headless.default.svc.cluster.local
      port: 3306
      dbName: bucketeer
  goalTopic: goal
  evaluationTopic: evaluation
  userTopic: user
  metricsTopic: metrics
  publishNumGoroutines: 200
  publishTimeout: 1m
  redis:
    serverName: api-gateway
    poolMaxIdle: 25
    poolMaxActive: 25
    addr: localenv-redis-headless.default.svc.cluster.local:6379
tls:
  bucketeerJP:
    secrets:
      - hosts:
          - api-gateway.bucketeer.io
        secretName: bucketeer-service-cert
  service:
    secret: bucketeer-service-cert
serviceToken:
  secret: bucketeer-service-token
ingress:
