image:
  repository: ghcr.io/bucketeer-io/bucketeer-batch
  pullPolicy: IfNotPresent

fullnameOverride: "batch-server"

namespace: default

env:
  project:
  demo:
    demoEnabled: false
    demoTrialPeriod: 7 # days
  profile: true
  gcpEnabled: true
  mysqlUser:
  mysqlPass:
  mysqlHost:
  mysqlPort:
  mysqlDbName:
  mysqlDbOpenConns: 50
  bigqueryWriterEmulatorHost:
  pubsubEmulatorHost:
  accountService: localhost:9001
  notificationService: localhost:9001
  environmentService: localhost:9001
  pushService: localhost:9001
  autoOpsService: localhost:9001
  experimentService: localhost:9001
  eventCounterService: localhost:9001
  featureService: localhost:9001
  experimentCalculatorService: localhost:9001
  batchService: localhost:9001
  webURL:
  logLevel: info
  grpcGatewayPort: 9089
  port: 9090
  metricsPort: 9002
  timezone: UTC
  refreshInterval: 10m
  # redis settings
  persistentRedis:
    serverName:
    addr:
    poolMaxIdle: 25
    poolMaxActive: 25
  nonPersistentRedis:
    serverName:
    addr:
    poolMaxIdle: 25
    poolMaxActive: 25
  nonPersistentChildRedis:
    addresses:
  experimentLockTTL: 10m

affinity: {}

nodeSelector: {}

pdb:
  enabled:
  maxUnavailable: 50%

hpa:
  enabled:
  minReplicas:
  maxReplicas:
  metrics:
    cpu:
      targetAverageUtilization:

envoy:
  image:
    repository: ghcr.io/bucketeer-io/bucketeer-envoy
    tag: v1.31.0
    pullPolicy: IfNotPresent
  lbPolicy: LEAST_REQUEST
  config:
  port: 9000
  adminPort: 8001
  resources: {}

tls:
  service:
    secret:
    cert:
    key:

serviceToken:
  secret:

oauth:
  key:
    secret:
    public:
  issuer:
  audience:

httpstan:
  image:
    repository: ghcr.io/bucketeer-io/bucketeer-httpstan
    tag: 0.0.1
    pullPolicy: IfNotPresent
  config:
  port: 8080
  # The model ID is generated when the HTTP Stan model is compiled.
  # We must update the ID every time we compile the model.
  # Since we don't change the model so often, this ID won't change.
  modelId: y3qsnd7m
  healthPath: v1/health
  resources: {}

service:
  type: ClusterIP
  clusterIP: None
  externalPort: 9000

gcpMultiCluster:
  configCluster: false
  enabled: false

health:
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 3
    failureThreshold: 5
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 3
    failureThreshold: 2

resources: {}

serviceAccount:
  annotations: {}

cronjob:
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  webGatewayAddress: https://web.default.svc.cluster.local:9003
  jobs:
    - name: experiment-status-updater
      jobId: ExperimentStatusUpdater
      schedule: "*/30 * * * *"
    - name: experiment-running-watcher
      jobId: ExperimentRunningWatcher
      schedule: "0 1 * * *"
    - name: feature-stale-watcher
      jobId: FeatureStaleWatcher
      schedule: "0 1 * * MON"
    - name: mau-count-watcher
      jobId: MauCountWatcher
      schedule: "0 1 1 * *"
    - name: ops-datetime-watcher
      jobId: DatetimeWatcher
      schedule: "* * * * *"
    - name: ops-event-count-watcher
      jobId: EventCountWatcher
      schedule: "* * * * *"
    - name: ops-progressive-rollout-watcher
      jobId: ProgressiveRolloutWatcher
      schedule: "* * * * *"
    - name: redis-counter-deleter
      jobId: RedisCounterDeleter
      schedule: "0 0 * * *"
    - name: experiment-calculator
      jobId: ExperimentCalculator
      schedule: "*/30 * * * *"
    - name: mau-summarizer
      jobId: MauSummarizer
      schedule: "30 0 * * *"
    - name: mau-partition-deleter
      jobId: MauPartitionDeleter
      schedule: "0 2 1 * *"
    - name: mau-partition-creator
      jobId: MauPartitionCreator
      schedule: "0 2 2 * *"
    - name: feature-flag-cacher
      jobId: FeatureFlagCacher
      schedule: "* * * * *"
    - name: segment-user-cacher
      jobId: SegmentUserCacher
      schedule: "* * * * *"
    - name: api-key-cacher
      jobId: ApiKeyCacher
      schedule: "* * * * *"
    - name: experiment-cacher
      jobId: ExperimentCacher
      schedule: "* * * * *"
    - name: auto-ops-rules-cacher
      jobId: AutoOpsRulesCacher
      schedule: "* * * * *"
    - name: tag-deleter
      jobId: TagDeleter
      schedule: "0 0 * * *"
