.size-xs {
  width: 24px;
  height: 24px;
  font-size: 16px;
  border-radius: 8px;
}

.size-sm {
  width: 32px;
  height: 32px;
  font-size: 20px;
  border-radius: 8px;
}

.size-md {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border-radius: 12px;
}

.size-lg {
  width: 60px;
  height: 60px;
  font-size: 28px;
  border-radius: 8px;
}

.size-xl {
  width: 120px;
  height: 120px;
  font-size: 52px;
  border-radius: 28px;
}
