.list {
  @apply border-light-200 border-b border-solid;
}
.trigger {
  @apply rounded-lg;
  @apply typo-label-medium text-dark-600 md:typo-label-big whitespace-nowrap;
  @apply px-4 py-3;
  @apply ml-4;
  font-weight: 500 !important;
}
.trigger:first-child {
  @apply ml-0;
}
.trigger:hover {
  @apply bg-light-100;
}
.trigger[data-state='active'] {
  @apply relative;
  @apply text-primary-500;
  font-weight: 600 !important;
}
.trigger[data-state='active']:after {
  @apply block h-1 w-full;
  @apply absolute bottom-0 left-0 right-0;
  @apply bg-primary-500;
  content: '';
  border-radius: 4px 4px 0px 0px;
}

.trigger.disabled {
  @apply text-light-300 cursor-not-allowed;
}

.trigger .subtitle {
  @apply typo-body-medium text-dark-200;
}
.trigger.disabled .subtitle {
  @apply text-light-300;
}
.trigger[data-state='active'] .subtitle {
  @apply text-dark-300;
}

.pane[data-state='inactive'] {
  @apply hidden;
}
