VITE_RELEASE_CHANNEL=dev
VITE_WEB_API_ENDPOINT=https://example.com
VITE_AUTH_REDIRECT_ENDPOINT=http://localhost:8000
VITE_DEMO_SIGN_IN_ENABLED=false
VITE_DEMO_SIGN_IN_EMAIL=
VITE_DEMO_SIGN_IN_PASSWORD=
VITE_API_ENDPOINT=
VITE_SCHEDULED_FLAG_CHANGES_ENABLED=false