{
  "plugins": ["prettier-plugin-tailwindcss"],
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "importOrder": [
    "^react",
    "^clsx$",
    "^tailwind(.*)$",
    "^@types$",
    "^@icons$",
    "^app(.*)$",
    "^pages(.*)$",
    "^components(.*)$",
    "^elements(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false
}
