[req]
x509_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment, keyCertSign
extendedKeyUsage = serverAuth, clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid, issuer
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = *.bucketeer.io
DNS.3 = *.default.svc.cluster.local
DNS.4 = nginx
DNS.5 = web
DNS.6 = api
DNS.7 = batch
DNS.8 = subscriber
DNS.9 = mysql
DNS.10 = redis
