button.trigger {
  @apply typo-para-medium flex items-center rounded-lg border border-gray-400 bg-gray-50 p-3 text-gray-500;
}
button.trigger.icon-only {
  @apply !border-none !bg-transparent !shadow-none;
}
button.trigger.pad-left {
  @apply pl-10;
}
button.trigger.pad-right {
  @apply pr-10;
}

.icon {
  @apply mr-2 flex;
}
.arrow {
  @apply ml-2 flex items-center;
}
.full {
  @apply flex w-full justify-between;
}
.content {
  @apply max-h-[260px] overflow-auto bg-gray-50 py-4 shadow-menu;
  min-width: 304px;
}
.label {
  @apply typo-head-bold-small mb-4 px-4 text-center text-gray-600;
}
.selected {
  @apply flex-1 truncate text-left text-gray-600;
}
.placeholder {
  @apply flex-1 truncate text-left;
}
.item {
  @apply typo-para-medium cursor-pointer px-6 py-2 text-gray-600;
}
.item:hover {
  @apply bg-primary-50 text-primary-500;
}
.item-active {
  @apply typo-head-semi-small text-primary-500;
}
.item-icon {
  @apply typo-para-medium flex items-center text-gray-600;
}
.item-icon i {
  @apply mr-2;
}
.item-icon.item-active {
  @apply typo-para-medium;
}
.item-icon > i {
  @apply text-gray-50;
}
.item-icon:hover > i {
  @apply text-primary-500;
}
.item-description {
  @apply typo-para-small mt-1;
}

/* Action */
.action {
  @apply mt-2 flex items-center px-6 py-2;
}

button.trigger:focus,
button.trigger:focus-visible {
  @apply shadow-border-gray-300;
}
button.trigger:hover {
  @apply text-gray-600 shadow-border-gray-300;
}
button.trigger[data-state='open'] {
  @apply bg-gray-50 outline-gray-50;
}
