global:
  image:
    tag: localenv
    imagePullSecrets:

env:
  gcpEnabled: false
  cloudService: hcv
  profile: false
  bucketeerTestEnabled: true
  demoSiteEnabled: false
  bigqueryQuerierEmulatorHost: http://localenv-bq.default.svc.cluster.local:9050
  pubsubEmulatorHost: localenv-pubsub.default.svc.cluster.local:8089
  project: bucketeer-dev
  mysqlUser: bucketeer
  mysqlPass: bucketeer
  mysqlHost: localenv-mysql-headless.default.svc.cluster.local
  mysqlPort: 3306
  mysqlDbName: bucketeer
  persistentRedis:
    serverName: backend
    addr: localenv-redis-headless.default.svc.cluster.local:6379
    poolMaxIdle: 25
    poolMaxActive: 25
  nonPersistentRedis:
    serverName: backend
    addr: localenv-redis-headless.default.svc.cluster.local:6379
    poolMaxIdle: 25
    poolMaxActive: 25
  bigQueryDataSet: bucketeer
  bigQueryDataLocation: US
  domainTopic: domain
  bulkSegmentUsersReceivedTopic: bulk-segment-users-received
  timezone: UTC
  logLevel: info
  googleTagManagerId:
  apiEndpoint:
  accessTokenTTL: 5m
  refreshTokenTTL: 168h
tls:
  service:
    secret: bucketeer-service-cert
serviceToken:
  secret: bucketeer-service-token
oauth:
  key:
    secret: bucketeer-oauth-key
  issuer: https://localhost
  audience: bucketeer
  google:
    issuer:
    clientId:
    clientSecret:
    redirectUrls:

webhook:
  baseURL: https://web-gateway.bucketeer.io
  kmsResourceName: vault
