apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "subscriber.fullname" . }}-email-config
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "subscriber.name" . }}
    chart: {{ template "subscriber.chart" . }}
    release: {{ template "subscriber.fullname" . }}
    heritage: {{ .Release.Service }}
data:
  email-config.json: |-
    {{ toJson .Values.global.email }}
