{{- if and (eq (include "subscriber.shouldDeploy" .) "true") .Values.serviceAccount.annotations }}
apiVersion: v1
kind: ServiceAccount
metadata:
    namespace: {{ .Values.namespace }}
    name: {{ template "subscriber.fullname" . }}
    annotations: {{ toYaml .Values.serviceAccount.annotations | nindent 8 }}
{{- end }}
