{{- if eq (include "subscriber.deploy" .) "true" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "subscriber.fullname" . }}-subscribers-config
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "subscriber.name" . }}
    chart: {{ template "subscriber.chart" . }}
    release: {{ template "subscriber.fullname" . }}
    heritage: {{ .Release.Service }}
data:
  subscribers.json: |-
    {{- $subscribers := .Values.subscribers }}
    {{- if not .Values.env.demoSiteEnabled }}
    {{- $subscribers = omit $subscribers "demoOrganizationCreationNotifier" }}
    {{- end }}
    {{- range $name, $config := $subscribers }}
    {{- $_ := set $config "pubSubType" $.Values.global.pubsub.type }}
    {{- $_ := set $config "redisServerName" $.Values.global.pubsub.redis.serverName }}
    {{- $_ := set $config "redisAddr" $.Values.global.pubsub.redis.addr }}
    {{- $_ := set $config "redisPoolSize" $.Values.global.pubsub.redis.poolSize }}
    {{- $_ := set $config "redisMinIdle" $.Values.global.pubsub.redis.minIdle }}
    {{- $_ := set $config "project" $.Values.global.pubsub.project }}
    {{- $_ := set $config "redisPartitionCount" $.Values.global.pubsub.redis.partitionCount }}
    {{- end }}
    {{ toJson $subscribers }}

  onDemandSubscribers.json: |-
    {{- range $name, $config := .Values.onDemandSubscribers }}
    {{- $_ := set $config "pubSubType" $.Values.global.pubsub.type }}
    {{- $_ := set $config "redisServerName" $.Values.global.pubsub.redis.serverName }}
    {{- $_ := set $config "redisAddr" $.Values.global.pubsub.redis.addr }}
    {{- $_ := set $config "redisPoolSize" $.Values.global.pubsub.redis.poolSize }}
    {{- $_ := set $config "redisMinIdle" $.Values.global.pubsub.redis.minIdle }}
    {{- $_ := set $config "project" $.Values.global.pubsub.project }}
    {{- $_ := set $config "redisPartitionCount" $.Values.global.pubsub.redis.partitionCount }}
    {{- end }}
    {{ toJson .Values.onDemandSubscribers }}

  processors.json: |-
    {{- $processors := .Values.processors }}
    {{- if not .Values.env.demoSiteEnabled }}
    {{- $processors = omit $processors "demoOrganizationCreationNotifier" }}
    {{- end }}
    {{- range $name, $config := $processors }}
    {{- if eq $name "segmentUserPersister" }}
    {{- $_ := set $config "pubSubType" $.Values.global.pubsub.type }}
    {{- $_ := set $config "redisServerName" $.Values.global.pubsub.redis.serverName }}
    {{- $_ := set $config "redisAddr" $.Values.global.pubsub.redis.addr }}
    {{- $_ := set $config "redisPoolSize" $.Values.global.pubsub.redis.poolSize }}
    {{- $_ := set $config "redisMinIdle" $.Values.global.pubsub.redis.minIdle }}
    {{- $_ := set $config "project" $.Values.global.pubsub.project }}
    {{- $_ := set $config "redisPartitionCount" $.Values.global.pubsub.redis.partitionCount }}
    {{- end }}
    {{- end }}
    {{ toJson $processors }}

  onDemandProcessors.json: |-
    {{- range $name, $config := .Values.onDemandProcessors }}
    {{- if $config.dataWarehouse }}
    {{- $_ := set $config.dataWarehouse "type" $.Values.global.dataWarehouse.type }}
    {{- $_ := set $config.dataWarehouse "batchSize" $.Values.global.dataWarehouse.batchSize }}
    {{- $_ := set $config.dataWarehouse "timezone" $.Values.global.dataWarehouse.timezone }}
    {{- $_ := set $config.dataWarehouse.mysql "useMainConnection" $.Values.global.dataWarehouse.mysql.useMainConnection }}
    {{- $_ := set $config.dataWarehouse.mysql "host" $.Values.global.dataWarehouse.mysql.host }}
    {{- $_ := set $config.dataWarehouse.mysql "port" $.Values.global.dataWarehouse.mysql.port }}
    {{- $_ := set $config.dataWarehouse.mysql "user" $.Values.global.dataWarehouse.mysql.user }}
    {{- $_ := set $config.dataWarehouse.mysql "password" $.Values.global.dataWarehouse.mysql.password }}
    {{- $_ := set $config.dataWarehouse.mysql "database" $.Values.global.dataWarehouse.mysql.database }}
    {{- $_ := set $config.dataWarehouse.postgres "useMainConnection" $.Values.global.dataWarehouse.postgres.useMainConnection }}
    {{- $_ := set $config.dataWarehouse.postgres "host" $.Values.global.dataWarehouse.postgres.host }}
    {{- $_ := set $config.dataWarehouse.postgres "port" $.Values.global.dataWarehouse.postgres.port }}
    {{- $_ := set $config.dataWarehouse.postgres "user" $.Values.global.dataWarehouse.postgres.user }}
    {{- $_ := set $config.dataWarehouse.postgres "password" $.Values.global.dataWarehouse.postgres.password }}
    {{- $_ := set $config.dataWarehouse.postgres "database" $.Values.global.dataWarehouse.postgres.database }}
    {{- $_ := set $config.dataWarehouse.bigquery "project" $.Values.global.dataWarehouse.bigquery.project }}
    {{- $_ := set $config.dataWarehouse.bigquery "dataset" $.Values.global.dataWarehouse.bigquery.dataset }}
    {{- $_ := set $config.dataWarehouse.bigquery "location" $.Values.global.dataWarehouse.bigquery.location }}
    {{- end }}
    {{- end }}
    {{ toJson .Values.onDemandProcessors }}
{{- end }}
