{{- if eq (include "subscriber.deploy" .) "true" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "subscriber.fullname" . }}-subscribers-config
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "subscriber.name" . }}
    chart: {{ template "subscriber.chart" . }}
    release: {{ template "subscriber.fullname" . }}
    heritage: {{ .Release.Service }}
data:
  subscribers.json: |-
    {{ toJson .Values.subscribers }}

  onDemandSubscribers.json: |-
    {{ toJson .Values.onDemandSubscribers }}

  processors.json: |-
    {{ toJson .Values.processors }}

  onDemandProcessors.json: |-
    {{ toJson .Values.onDemandProcessors }}
{{- end }}
