@import url('https://fonts.googleapis.com/css2?family=Sofia:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
}
th,
td {
  padding: 0;
}

*:focus,
*:focus-visible {
  outline: none;
}

/* Google Map Autocomplete */
.pac-container {
  z-index: 9999 !important;
  pointer-events: auto !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
