.button,
button.button,
a.button {
  @apply inline-flex items-center justify-center;
}

/* Variant */

.primary,
button.primary,
a.primary {
  @apply bg-primary-500 text-gray-50;
  @apply rounded-lg;
}
.primary:hover,
button.primary:hover,
a.primary:hover {
  @apply bg-primary-600;
}
.primary:disabled,
button.primary:disabled,
a.primary:disabled {
  @apply bg-primary-100 text-primary-50;
}

.secondary,
button.secondary,
a.secondary {
  @apply text-primary-500;
  @apply rounded-lg outline outline-1 outline-primary-500;
}
.secondary:hover,
button.secondary:hover,
a.secondary:hover {
  @apply text-primary-600 outline-primary-600;
}
.secondary:disabled,
button.secondary:disabled,
a.secondary:disabled {
  @apply outline-gray-400 text-gray-500;
}

.gray,
button.gray,
a.gray {
  @apply text-gray-600;
  @apply rounded-lg outline outline-1 outline-gray-500;
}
.gray:hover,
button.gray:hover,
a.gray:hover {
  @apply text-gray-700 outline-gray-600;
}
.gray:disabled,
button.gray:disabled,
a.gray:disabled {
  @apply outline-gray-400 text-gray-500;
}

.icon,
button.icon,
a.icon {
  @apply text-primary-500;
  @apply rounded-lg outline outline-1 outline-transparent;
}
.icon:hover,
button.icon:hover,
a.icon:hover {
  @apply text-primary-600;
}
.icon:disabled,
button.icon:disabled,
a.icon:disabled {
  @apply text-gray-400;
}

.icon-2,
button.icon-2,
a.icon-2 {
  @apply text-gray-600;
  @apply rounded-lg outline outline-1 outline-transparent;
}
.icon-2:hover,
button.icon-2:hover,
a.icon-2:hover {
  @apply text-gray-700;
}
.icon-2:disabled,
button.icon-2:disabled,
a.icon-2:disabled {
  @apply text-gray-400;
}

/* Size */

.size-md,
button.size-md,
a.size-md {
  @apply h-12 w-12;
}
.size-md .svg,
button.size-md .svg,
a.size-md .svg {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.size-sm,
button.size-sm,
a.size-sm {
  @apply h-9 w-9;
}
.size-sm .svg,
button.size-sm .svg,
a.size-sm .svg {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.size-xs,
button.size-xs,
a.size-xs {
  @apply h-6 w-6;
}
