apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-migrate"
  labels:
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade

spec:
  backoffLimit: {{ .Values.migration.backoffLimit }}
  {{- with .Values.migration.ttlSecondsAfterFinished }}
  ttlSecondsAfterFinished: {{ . }}
  {{- end }}
  template:
    spec:
      {{- with .Values.migration.imagePullSecrets | default .Values.global.image.imagePullSecrets }}
      imagePullSecrets: {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      containers:
        - name: atlas-migrate
          image: "{{ .Values.migration.image.repository }}:{{ .Values.migration.image.tag }}"
          args:
            - migrate
            - apply
            - --baseline
            - "{{ .Values.migration.dbBaseline }}"
            - -u
            - {{ .Values.migration.dbUrl }}
