button.btn {
  @apply inline-flex animate-fade items-center duration-300 ease-out;
}

/* Variant */

button.btn-brand {
  @apply bg-brand-500 text-gray-50;
  @apply rounded-lg;
  @apply px-6 py-2;
}
button.btn-brand:hover {
  @apply bg-brand-700;
}
button.btn-brand:disabled {
  @apply bg-brand-100 text-brand-50;
}

button.btn-secondary {
  @apply text-brand-500;
  @apply rounded-lg;
  @apply px-6 py-2;
  @apply shadow-border-brand-500;
}
button.btn-secondary:hover {
  @apply text-brand-600;
  @apply shadow-border-brand-600;
}
button.btn-secondary:disabled {
  @apply text-gray-500;
  @apply shadow-border-gray-500;
}

button.btn-brand-2 {
  @apply text-brand-500;
  @apply rounded-lg;
  @apply px-6 py-2;
  @apply shadow-border-brand-500;
}
button.btn-brand-2:hover {
  @apply text-brand-600;
  @apply shadow-border-brand-600;
}
button.btn-brand-2:disabled {
  @apply text-gray-500;
  @apply shadow-border-gray-500;
}

button.btn-negative {
  @apply bg-accent-red-500 text-gray-50;
  @apply rounded-lg;
  @apply px-6 py-2;
  @apply shadow-border-accent-red-500;
}
button.btn-negative:hover {
  @apply bg-accent-red-600;
  @apply shadow-border-accent-red-500;
}

button.btn-text {
  @apply text-brand-500;
}
button.btn-text:hover {
  @apply text-brand-600;
}
button.btn-text:disabled {
  @apply text-gray-500;
}

/* Size */

button.size-lg {
  @apply typo-body-big h-14;
}
button.size-md {
  @apply typo-body-medium h-12;
}
button.size-sm {
  @apply typo-body-small h-10;
}
button.size-xs {
  @apply typo-body-tiny h-8;
}

/* Fluid */
.fluid {
  @apply w-full;
}

/* Content */
.content {
  @apply flex w-full items-center justify-center;
}

/* Icon */

button.size-lg .icon {
  width: 28px;
  height: 28px;
  font-size: 28px;
}
button.size-md .icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
button.size-sm .icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.icon.icon-left {
  @apply mr-1.5 md:mr-2;
}
.icon.icon-right {
  @apply ml-1.5 md:ml-2;
}

/* Content */
button.loading {
  @apply relative;
}
button.loading .content {
  @apply invisible;
}
button.loading .spinner {
  @apply absolute inset-0 flex h-full w-full items-center justify-center;
}
