.editor-wrapper div:first-child {
  @apply  !border-none !outline-none;
}
.editor-wrapper div .monaco-editor {
  @apply overflow-hidden !border-none !outline-none;
}

.editor-wrapper div .monaco-editor .margin {
  @apply !w-fit !min-w-10 bg-[#64748B1F];
}

.editor-wrapper div .monaco-editor {
  @apply !select-auto;
}

.no-user-select {
  @apply !select-auto;
}

.line-numbers {
  @apply !w-full !text-center;
}

.editor-wrapper div .monaco-editor .margin-view-overlays {
  @apply !w-fit !min-w-10;
}

.margin-view-overlays {
  @apply !pointer-events-none;
}

.editor-wrapper .alwaysShowFoldIcons,
.editor-wrapper .cldr,
.editor-wrapper .codicon {
  @apply !pointer-events-none !z-[-1] !hidden;
}

.highlighted-line span {
  @apply !bg-gray-400;
}

.editor-wrapper .overflow-guard {
  @apply !flex !gap-x-4;
}

.editor-wrapper .monaco-scrollable-element > .scrollbar > .slider {
  @apply rounded-md;
}
.iPadShowKeyboard{
  @apply hidden;
}