name: Bucketeer Dev Container Build and Push Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/.devcontainer/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v4
      - name: Set up QEMU for multi-architecture builds
        uses: docker/setup-qemu-action@v3.6.0
        with:
          platforms: linux/amd64,linux/arm64
      - name: Setup Docker buildx for multi-architecture builds
        uses: docker/setup-buildx-action@v3.10.0
        with:
          use: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and release devcontainer Multi-Platform
        uses: devcontainers/ci@v0.3
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: true
        with:
          imageName: ghcr.io/bucketeer-io/bucketeer-devcontainer
          cacheFrom: ghcr.io/bucketeer-io/bucketeer-devcontainer
          platform: linux/amd64,linux/arm64
          subFolder: .github
          push: always
