name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release_please:
    name: Release Please
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@cc61a07e2da466bebbc19b3a7dd01d6aecb20d1e # v4.0.2
        with:
          changelog-types: |
            [
              {"type":"build","section":"Build System","hidden":false},
              {"type":"chore","section":"Miscellaneous","hidden":false},
              {"type":"feat","section":"Features","hidden":false},
              {"type":"fix","section":"Bug Fixes","hidden":false},
              {"type":"perf","section":"Performance Improvements","hidden":false},
              {"type":"revert","section":"Reverts","hidden":false}
            ]
          release-type: simple
          package-name: release-please-action
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true
          token: ${{ secrets.REPO_ACCESS_PAT }} # We need to set the PAT so the publishing workflow can be triggered
          extra-files: |
            manifests/bucketeer/values.yaml
